.options-container {
  display: grid;
  /* grid-template-columns: repeat(2, minmax(0, 1fr)); */
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: masonry;

  height: 60%;
  width: 80%;
  justify-content: space-evenly;
  align-items: center;
  justify-items: center;

  button {
    &:nth-child(4n),
    &:nth-child(4n + 1),
    &:first-child {
      grid-column: auto / span 2;
    }
  }
}
