.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.85);
  display: flex;
  align-items: center;
  justify-content: center;
}

.closeButton {
  position: absolute;
  top: 20px;
  right: 20px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.loaderContainer {
  width: 300px;

  user-select: none;
  text-align: center;
}

.overlay-image {
  width: 100%;

  object-fit: contain;
  /* Uncomment the line below if you want to apply the filter */
  /* filter: drop-shadow(0 0 12px #00bcd4); */
  transition: opacity 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55),
    transform 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  opacity: 1;
  transform: scale(1) rotate(0deg);
}

.tipText {
  margin-top: 12px;
  font-family: "Inter", system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #e0e6f1;
  letter-spacing: 0.05em;
  min-height: 24px;
  line-height: 1.3;
  font-style: normal;
  user-select: none;
  transition: opacity 0.5s ease-in-out;
}

.overlay-center {
  height: 80vh;
  width: 40vw;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: grey;
  position: relative;
}
